<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="HospitalManagementSystem.PatientService" behaviorConfiguration="PatientServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/HospitalManagementSystem"/>
					</baseAddresses>
				</host>
				<endpoint address="PatientService" binding="basicHttpBinding" contract="HospitalManagementSystem.IPatientService">

				</endpoint>
			</service>
			<service name="HospitalManagementSystem.DoctorService" behaviorConfiguration="DoctorServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8001/HospitalManagementSystem"/>
					</baseAddresses>
				</host>
				<endpoint address="DoctorService" binding="basicHttpBinding" contract="HospitalManagementSystem.IDoctorService">

				</endpoint>
			</service>
			<service name="HospitalManagementSystem.InventoryService" behaviorConfiguration="InventoryServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8002/HospitalManagementSystem"/>
					</baseAddresses>
				</host>
				<endpoint address="InventoryService" binding="basicHttpBinding" contract="HospitalManagementSystem.IInventoryService">

				</endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="PatientServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="DoctorServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="InventoryServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>